@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


.mainStyle{
    background-color: grey;
}

h5, h3, h2, h1 {
    color: white;
    font-family: "Inter";
}

.modal-title{
    color: black !important;
}

p {
    color: white;
}

label {
    color: white;
    font-family: "Inter";
    text-decoration: underline;
}

a {
    color: #66e877 !important;
}

th, td {
    text-align: center;
}

.bandphoto{
    max-width: 305px !important;
    height: auto;
}

.venueSearch{
    max-width: 200px;
}

.smallstars{
    font-size: 1em;
    color: white;
}

.searchedVenues{
    /* background-color: #343a40; */
    border-top: 2px solid black;
}


.bandbio{
    max-width: 560px;
}

.bandreviews{
    max-width: 1000px;
}
.artistCreateButton{
    background-color: #333a2f;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 20px;
    padding: 4px;
    margin-top: 5px;
}

.formcontent {
    background-color: #86967d;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 9px;
}

.navbutton {
    background-color: #5b754b00;
    color: white;
    font-size: 20px;
    padding: 4px;
}

.homeaccountbutton{
    background-color: #637558;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 20px;
    padding: 4px;
}

.createReviewbtn{
    color: white !important;
}

.apiVenueReviews{
    max-width: fit-content;
}

.apitext{
    min-width: 250px;
}

.homeaccountbutton:hover {
    background-color: #405a31;
}

.artistCreateButton:hover {
    background-color: #405a31;
}
.navbutton:hover {
    text-decoration: underline;
}
